.classpath
.project
.settings

build/
.idea/
/api/
/out/
/local.properties
/*.iml
/flix.jar
target
.ensime*
/*.flix
/build
/.gradle
.metals
.bloop
crash_report_*.txt

# local development files
**/personal/**
.vscode

main/resources
/examples/projects/**/*.jar

